body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}


header, footer {
  background-color:  #378aba;
  color: #fff;
}


header {
  padding: 10px 0px 0px 0px;
  text-align: left; 
  margin: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
}


nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav {
  background-color: #0b5177;
  margin: 0;
  padding: 1px 20px;
  width: 100%;
  box-sizing: border-box;
}

nav ul li a:hover { 
  color: #ffffff;
  font-weight: bold;
  background-color: #1a4468;
}

ul {
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
}

li {
  padding: 20px 20px;
  /* margin: 0px; */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido del <li> horizontal y verticalmente */
}


.header-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}


footer {
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

footer p {
margin: 0;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

span:hover {
  color: #ffffff;
  font-weight: bold;
  background-color: #1a4468;
}