body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container-catalog {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}


#movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align at the begining of the container */
    align-items: flex-start; /* Align on top */
}

.go-to-movie {
    width: calc(33.33333% - 5px); /* 3 per row minus margin */
    margin: 10px, 5px;
    box-sizing: border-box; /* padding and border included in the computation */
}


.movie-info {
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 4px;
    background: white;
    text-align: center;
}


#title {
    text-transform: capitalize;
}

img {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    border-radius: 5px;
}

.info {
    flex: 1;
}

p {
    margin: 5px 0;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="email"] {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-control textarea {
    width: calc(100% - 16px);
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* button[type="submit"]:hover {
background-color: #777;
} */

.buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.buttons input[type="number"] {
width: 35px 
}

a {
    text-decoration: none;
    color: #000000;
}

.boton-volver {
    background-color: #67b5ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    float: right;
}

.boton-edit {
    background-color: #00cc00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    float: right;
  }